<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>寿司診断</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>🍣 今日の寿司ネタは？ 🍣</h1>
    <form action="/result" method="post">
      <button type="submit">診断する！</button>
    </form>
  </body>
</html> 